@page "/fetchdata"
@using Mc2.CrudTest.Domain
@inject HttpClient _http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>PhoneNumber</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CustomerViewModel customer in _customers)
            {
                <tr>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName.ToString()</td>
                    <td>@customer.Email.ToString()</td>
                    <td>@customer.PhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private CustomerViewModel[] _customers;

    protected override async Task OnInitializedAsync()
    {
        _customers = await _http.GetFromJsonAsync<CustomerViewModel[]>("Cusomers");
    }

}
