@page "/"

<h1>Hello candidate!</h1>

Feel free to change the solution the way you think is right.

<MyLink Title="Go2sh" Link="/swagger" />
<MyLink Title="Customers" Link="/customers" />
<MyLink Title="AddCustomer" Link="/customers/add" />

<SurveyPrompt Title="CrudTest" />
