
<div class="mt-4">
    <span class="text-uppercase">@Title: <a class="btn btn-link" href="@Link">@Link</a></span>
</div>

@code {
    [Parameter]public string Title { get; set; }
    [Parameter]public string Link { get; set; }
}